body {
    font-family: monospace;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    /* color: #333; */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-bottom: 2px solid #ddd;
    /* overflow: hidden; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

.image-container {
    /* width: 200px; */
    /* height: 200px; */
    background-color: #e4e4e4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #aaa;
    margin-right: 20px;
    overflow: hidden;
    /* padding-right: 50px; */
}

.img-circular{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    /* padding-right: 50px; */
}
  

.contact-info h1 {
    margin: 0;
    font-size: 3em;
}

.contact-info h2 {
    margin: 5px 0 10px;
    color: #666;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #0366d6;
    text-decoration: none;
}

.section {
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}


.section-title {
    font-size: 1.4em;
    color: #0366d6;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* ul {
    list-style-type: decimal;
    padding: 0;
} */

ul li {
    margin-bottom: 10px;
}

ul li ul {
    margin-top: 5px;
    padding-left: 20px;
}

.languages {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap for responsive layout */
  }

.li-column {
    flex: 1; /* Make each column take up 1/3 of the space */
    list-style: disc;
    margin: 0 10px 10px 50px; /* Adjust spacing as needed */
    padding: 0;
  }


.print-button-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.print-button {
    background-color: #0366d6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.print-button:hover {
    background-color: #024ea2;
}

/* Hide the print button when printing */
@media print {
    .print-button-container {
        display: none;
    }
}


